<h1>Extracting Amazon Stock Data Using a Web Scraping</h1>

In [2]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!pip install bs4
!pip install html5lib
!pip install lxml
#!pip install plotly==5.3.1

Requirement already satisfied: bs4 in c:\users\sahar eissa\appdata\local\programs\python\python312\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\sahar eissa\appdata\local\programs\python\python312\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\sahar eissa\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Requirement already satisfied: html5lib in c:\users\sahar eissa\appdata\local\programs\python\python312\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\sahar eissa\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\sahar eissa\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in c:\users\sahar eissa\appdata\local\programs\python\python312\lib\site-packages (5.2.1)

In [8]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [9]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

<h2>Extracting Amazon Stock Data Yahoo Finance Website</h2> <a>https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html</a>

In [10]:
### Step 1: Send an HTTP request to the web page
html_data = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
data = requests.get(html_data).text
print(html_data)

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html

In [11]:
### Step 2: Parse the HTML content
###Create a new BeautifulSoup object.
soup = BeautifulSoup(data, "html5lib")

In [12]:
### Step 3: Use a BeautifulSoup method for extracting data and Identify the HTML tags
netflix_data = []
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
# Finally we append the data to the empty array
    netflix_data.append({
        "Date": date,
        "Open": Open,
        "High": high,
        "Low": low,
        "Close": close,
        "adj_close": adj_close,
        "Volume": volume
    })

netflix_df = pd.DataFrame(netflix_data)
netflix_df.head()

           Date      Open      High       Low     Close adj_close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20   71,528,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93   77,556,200
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04   90,810,500
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15  116,226,100
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73  115,899,300

In [14]:
### getting the value of Open column in the last row of the data
print(netflix_df["Open"].iloc[-1])

656.29